body {
    background: url("noise.png") #F5F2F0;
}

/*preload*/
body:after{
    display: none;
    content: url('staples-easy-button.png') url('staples-easy-button-hover.png');
}

#easyButton {
    height: 400px;
    width: 400px;
    
    background-size: contain;
    background-image: url('staples-easy-button.png');
    
    cursor: pointer;
    
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

#easyButton:hover {
    background-image: url('staples-easy-button-hover.png');
}



.radio-btn {
    width: 33%;
    float: left;
    text-align: center;
    height: 50px;
    background: #abecf1;
    line-height: 50px;
    border: 1px solid grey;
    cursor: pointer;
    color: white;
    font-size: 25px
}
.radio-btn        { background: #3e7139; }
.radio-btn:hover  { background: #4c9645; }
.radio-btn.active { background: #4ca943; }


.radio-btn:first-child {
    border-radius: 5px 0px 0px 5px
}
.radio-btn:last-child {
    border-radius: 0px 5px 5px 0px
}