body {
    background: url("noise.png") hsla(581, 52%, 52%, 1);
}

#easySVG {
    width: 400px;
    max-width: 100%;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.radio-btn {
    width: 33%;
    float: left;
    text-align: center;
    height: 50px;
    background: #abecf1;
    line-height: 50px;
    border: .1px solid grey;
    cursor: pointer;
    color: white;
    font-size: 25px;
}
.radio-btn        { background: #3e7139; box-shadow: 1px 1px 1px 0px #3c3333;}
.radio-btn.active { background: #4ca943; box-shadow: 1px 1px 1px 0px #3c3333, 1px 1px 2px 0px #3c3333 inset;}
.radio-btn:hover  { background: #4c9645; }

.radio-btn:first-child { border-radius: 5px 0px 0px 5px }
.radio-btn:last-child  { border-radius: 0px 5px 5px 0px }
